*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  height: 200vh;
}

body { 
  background-image: url("Pictures/download.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

span{
  margin-right: -5px;
}

.a{
  color:red;
}

.c{
  color: blue;
}

.t{
  color:gold;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  color:white;
  padding: 15px 20px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;   
  display: flex;     
  gap: 20px;          
}

nav h1 {
  font-size: 30px;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  color: white;
}

nav div{
  display: flex;
  align-items: center;
}

nav button{
  margin-left: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  background-color: black;
  border:2px solid red;
  padding: 10px 15px;
  cursor: pointer;
}

section,
.actors{
  background-color: gainsboro;
}

footer{
  background-color: gainsboro;
}

.hero {
  background-color: transparent;
  color: rgb(255, 248, 248);
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.hero button:hover {
  background-color: #0056b3;
}
